html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    height: 2000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ul_block_settings li{
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
    padding: 10px;

}

li:hover{
    background-color: #f6f5f3;
    border-radius: 20px;
}

header{
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    height: 80px;
}

.list_wrapper{
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.pricture_class{
    display: inline-block;
}

.pricture_class img{
    width: 60px;
}

.ul_block_settings li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.body_text_block{
    margin: 0px auto;
    width: 1200px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 150%;
    margin-top: 50px;
    margin-bottom: 50px;
}

p{
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    line-height: 150%;
}

mark{
    background: #d1d1ff;
}

.picture_settings{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#top:before{
	display: block;
	content: "";
	height: 38px;
	margin: -55px 0 0;
}
#year:before{
	display: block;
	content: "";
	height: 38px;
	margin: -55px 0 0;
}
#for_what:before{
	display: block;
	content: "";
	height: 38px;
	margin: -55px 0 0;
}
